/**
* Custom Brandbook Page Pagination
*/
.page-navigation .previous a {
    text-align: left;
    color: #797979;
}

.page-navigation .next a {
    text-align: right;
}

.page-navigation {
    margin-left: -15px;
    margin-right: -15px;
}

.page-navigation:after,
.page-navigation:before {
    content: " ";
    display: table;
    clear: both;
}

.page-navigation .previous,
.page-navigation .next {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33%;
    float: left;
}

.page-navigation .next {
    margin-left: 34%;
}

/**
  * Special Anchor Style to allow some space between the
  */

a.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}

/**
  * Affix sidebar functionality
  */

@media (min-width: 979px) {
    body.page .sidebar {
        width: 300px;
    }
    .affix {
        width: 300px;
        position: fixed;
        top: 0;
    }
    .affix-bottom {
        width: 300px;
        position: absolute;
    }
}

.affix-top {
    position: static;
}